@import "solid.scss";
$ff-fantasy: Impact, fantasy;
$ff-handwriting: 'Brush Script MT', cursive;
$ff-comic: Comic Sans MS, Comic Sans, cursive;
$clr-bg: hsl(240, 6%, 95%);
$clr-bg-hover: hsl(234, 15%, 25%);
$clr-text-hover: hsl(234, 0%, 100%);
$clr-link-hover: hsl(32, 67%, 67%);
$clr-obj-primary: hsl(264, 18%, 73%);
*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
    background-color: $clr-bg;
}

h1 {
    font-family: $ff-fantasy;
    text-align: center;
    font-size: 2em;
    position: relative;
}

h1::before{
    content: "";
    background-color: $clr-obj-primary;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    width: calc(50% - 4em); 
}
h1::after{
    content: "";
    background-color: $clr-obj-primary;
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    width: calc(50% - 4em); 
}
h2, h3{
    font-family: $ff-handwriting;
    text-align: center;
    position: relative;
}
h2 {
    font-size: 2em;
}
h2::before, h2::after {
    content: "";
    position: absolute;
    top: 20%;
    bottom: 20%;
    width: 25px;
    background-color: $clr-obj-primary;
    border-radius: 50%;
}
h2::before {
    left: calc(50% - 6em);
}
h2::after {
    right: calc(50% - 6em);
}
h3{
    font-size: 1.5em;
}
h3::before, h3::after {
    content: "";
    position: absolute;
    top: 15%;
    width: 25px;
    border-left: 18px solid transparent;
    border-right: 18px solid transparent;
    border-top: 18px solid $clr-obj-primary;
}
h3::before {
    left: calc(50% - 7em);
}
h3::after {
    right: calc(50% - 7em);
}

.participation, .benefits, .requirements, .sidebar{

    h3::before {
        left: calc(50% - 5em);
    }
    h3::after {
        right: calc(50% - 5em);
    }
}
div {
    width: 90%;
    margin: 0 auto;
}

p {
    font-family: $ff-comic;
    
}

a {
    text-decoration: none;
}
a::after {
    content: "";
    font-family: 'Font Awesome 5 Free';
    font-weight: 900;
}

a[href^="http"]::after {
    content: ' \f35d'; 
}

abbr {
    text-decoration: none;
}

.summary {
    max-width: 800px;
    border: .2em solid $clr-obj-primary;
    border-radius: 4px;
    padding: 0 1em;

    a::after {
        content: ' \f019';
    }
    &:hover {
        color: $clr-text-hover;
        background-color: $clr-bg-hover;
        
        a, a::after {
            color: $clr-link-hover;
        }
    }
}

.preamble, .participation, .explanation{

    h3 {
        column-span: all;
        
    }
    p { 
        margin: 0 auto;
        break-inside: avoid-column;
        min-height: 200px;
        padding: .5em;
        border: .2em solid $clr-obj-primary;
        border-radius: 4px;

        &:hover {
            color: $clr-text-hover;
            background-color: $clr-bg-hover;
            
            a, a::after {
                color: $clr-link-hover;
            }
        }
    }
    
  }

.preamble, .participation {
    columns: 3;
}
.explanation {
    columns: 2;
}
  
  


@media screen and (max-width: 390px) {
    h2 {
        font-size: 1.5em;
    }
    h3 {
        font-size: 1em;
    }
    p {
        font-size: .7em;
    }
}