@import "solid.scss";
$ff-fantasy: Impact, fantasy;
$ff-handwriting: 'Brush Script MT', cursive;
$ff-comic: Comic Sans MS, Comic Sans, cursive;
$clr-bg: hsl(240, 6%, 95%);
$clr-bg-hover: hsl(234, 15%, 25%);
$clr-text-hover: hsl(234, 0%, 100%);
$clr-link-hover: hsl(32, 67%, 67%);
$clr-obj-primary: hsl(264, 18%, 73%);
*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
    background-color: $clr-bg;
}

h1 {
    font-family: $ff-fantasy;
    text-align: center;
    font-size: 2em;
    position: relative;
    &::before, &::after {
        content: "";
        background-color: $clr-obj-primary;
        position: absolute;
        top: 0;
        bottom: 0;
        width: calc(50% - 4em); 
    }
    &::before {
        left: 0;
    }
    &::after {
        right: 0;
    }
}



h2, h3{
    font-family: $ff-handwriting;
    text-align: center;
    position: relative;
}
h2 {
    font-size: 2em;
    &::before, &::after {
        content: "";
        position: absolute;
        top: 20%;
        bottom: 20%;
        width: 25px;
        background-color: $clr-obj-primary;
        border-radius: 50%;    
    }
    &::before {
        left: calc(50% - 6em);
    }
    &::after {
        right: calc(50% - 6em);
    }
}

h3{
    font-size: 1.5em;
    &::before, &::after {
        content: "";
        position: absolute;
        top: 15%;
        width: 25px;
        border-left: 18px solid transparent;
        border-right: 18px solid transparent;
        border-top: 18px solid $clr-obj-primary;    
    }
    &::before {
        left: calc(50% - 7em);
    }
    &::after {
        right: calc(50% - 7em);
    }
}



.participation, .benefits, .requirements, .sidebar{
    h3 {
        &::before {
            left: calc(50% - 5em);
        }
        &::after {
            right: calc(50% - 5em);
        }
    }
    
}
div {
    width: 90%;
    margin: 0 auto;
}

p {
    font-family: $ff-comic;
}

a {
    text-decoration: none;
    &::after {
        content: "";
        font-family: 'Font Awesome 5 Free';
        font-weight: 900;
    }
}

a[href^="http"]::after {
    content: ' \f35d'; 
}
a[href$=".css"]::after, a[href$="index"]::after{
    content: ' \f019'; 
}

abbr {
    text-decoration: none;
}

.summary {
    max-width: 800px;
    border: .2em solid $clr-obj-primary;
    border-radius: 4px;
    padding: 0 1em;
    
    &:hover {
        color: $clr-text-hover;
        background-color: $clr-bg-hover;
        
        a, a::after {
            color: $clr-link-hover;
        }
    }
}

.preamble, .participation, .explanation{

    h3 {
        column-span: all;
    }
    p { 
        margin: 0 auto;
        break-inside: avoid-column;
        min-height: 200px;
        min-width: 100px;
        padding: .5em;
        border: .2em solid $clr-obj-primary;
        border-radius: 4px;

        &:hover {
            color: $clr-text-hover;
            background-color: $clr-bg-hover;
            
            a, a::after {
                color: $clr-link-hover;
            }
        }
    }
}

.preamble, .participation {
    columns: 3;
}
.explanation {
    columns: 2;
}

.benefits {
    p {
        padding: 1em;
        border-radius: 4px;
        border: .2em solid $clr-obj-primary;
        &:hover {
            color: $clr-text-hover;
            background-color: $clr-bg-hover;
        }
    }
}
  
.requirements {
    position: relative;
    margin-bottom: 2em;
    p {
        padding: .3em 1em;  
    }
    &::before {
        content: "";
        position: absolute;
        top: 2.5em;
        bottom: 0em;
        right: .5em;
        left: -.5em;
        background-color: $clr-text-hover;
        z-index: -1;
        border-radius: 4px;
    }
    &::after {
        content: "";
        position: absolute;
        top: 3.5em;
        bottom: -1em;
        right: -.5em;
        left: .5em;
        background-color: $clr-bg-hover;
        z-index: -5;
        border-radius: 4px;
    }
    &:hover {
        p {
            color: $clr-text-hover;
        }
        a {
            color: $clr-link-hover;
        }
        &::before {
            background-color: $clr-bg-hover;
        }
        &::after {
            background-color: $clr-text-hover;
        }
    }
}




@media screen and (max-width: 390px) {
    h2 {
        font-size: 1.5em;
    }
    h3 {
        font-size: 1em;
    }
    p {
        font-size: .7em;
    }
}